In [ ]:
import math

In [ ]:
help(math.dist)

In [ ]:
print(dir(math))

Errors And Exception Handling

try and except:

In [ ]:
try:
    f=open('superman.txt','w')
    f.write('Trying to write into this from jupiter notebook 5')
except IOError:
    print('File not found')
else:
    print('Content printed successfully')
    f.close()

In [ ]:
try:
    f=open('superman.txt','r')
    f.write("Test write this")
except IOError:
    print("Error!")
else:
    print("Content printed successfully")
    f.close()

In [ ]:
try:
    f=open('test.txt','w')
    f.write("aur bolo kya haalchaal?")
except IOError:
    print("error")
finally:
    print("excecution done")

In [ ]:
def askint():
    try:
        n=int(input("enter an integer:"))
    except:
        print("Looks like you didnt enter an integer")
    finally:
        print("i finally executed")

In [ ]:
askint()

In [ ]:
#same concept but looping included

def askint():
    while True:
        try:
            n=int(input('Enter an integer value: '))
        except:
            print('Expected input not found')
            continue
        else:
            print("thats right!")
            break
        finally:
            print("i finally executed!")
        print(n)

In [ ]:
askint()

Datebase Connectivity and operations using Python

In [1]:
import sqlite3
#connecting with the database

db= sqlite3.connect('my_database.db')
# Drop table if it already exist using execute() method.
db.execute("drop table if exists grades1")

# Create table as per requirement
db.execute("create table grades1(id int, name text, score int)")

#inserting values inside the created table
db.execute("insert into grades1(id, name, score) values(101, 'John',99 )")
db.execute("insert into grades1(id, name, score) values(102, 'Gary',90 )")
db.execute("insert into grades1(id, name, score) values(103, 'James', 80 )")
db.execute("insert into grades1(id, name, score) values(104, 'Cathy', 85 )")
db.execute("insert into grades1(id, name, score) values(105, 'Kris',95 )")

In [2]:
db.commit()

In [3]:
results = db.execute("select * from grades1 order by id")
for row in results:
    print(row)
print("-" * 60 )

(101, 'John', 99)
(102, 'Gary', 90)
(103, 'James', 80)
(104, 'Cathy', 85)
(105, 'Kris', 95)
------------------------------------------------------------

In [5]:
results = db.execute("select * from grades1 where name = 'Cathy' ")
for row in results:
    print(row)
print("-" * 60 )

(104, 'Cathy', 85)
------------------------------------------------------------

In [9]:
results = db.execute("select * from grades1 where score <90 ")
for row in results:
    print(row)
print("-" * 60 )

(103, 'James', 80)
(104, 'Cathy', 85)
------------------------------------------------------------

In [10]:
results = db.execute("select name, score from grades1 order by score desc ")
for row in results:
    print(row)
print("-" * 60 )

('John', 99)
('Kris', 95)
('Gary', 90)
('Cathy', 85)
('James', 80)
------------------------------------------------------------

In [12]:
results = db.execute("select name, score from grades1 order by score")
for row in results:
    print(row)

('James', 80)
('Cathy', 85)
('Gary', 90)
('Kris', 95)
('John', 99)